/* Fonte BancoDoBrasilTextos */
@font-face { font-family: BancoDoBrasilTextos; font-style: normal; font-weight: normal; src: url('/lib/fonts/BancoDoBrasil/BancoDoBrasilTextos-Regular.ttf'); } 
@font-face { font-family: BancoDoBrasilTextos; font-weight: bold; src: url('/lib/fonts/BancoDoBrasil/BancoDoBrasilTextos-Bold.ttf');}
@font-face { font-family: BancoDoBrasilTextos; font-style: italic; src: url('/lib/fonts/BancoDoBrasil/BancoDoBrasilTextos-Italic.ttf');}
@font-face { font-family: BancoDoBrasilTextos; font-style: italic; font-weight: bold; src: url('/lib/fonts/BancoDoBrasil/BancoDoBrasilTextos-BoldIt.ttf');}

/* Fonte BancoDoBrasilTitulos */
@font-face { font-family: BancoDoBrasilTitulos; font-style: normal; font-weight: normal; src: url('/lib/fonts/BancoDoBrasil/BancoDoBrasilTitulos-Regular.ttf'); } 
@font-face { font-family: BancoDoBrasilTitulos; font-weight: bold; src: url('/lib/fonts/BancoDoBrasil/BancoDoBrasilTitulos-Bold.ttf');}
@font-face { font-family: BancoDoBrasilTitulos; font-style: italic; src: url('/lib/fonts/BancoDoBrasil/BancoDoBrasilTitulos-Italic.ttf');}
@font-face { font-family: BancoDoBrasilTitulos; font-style: italic; font-weight: bold; src: url('/lib/fonts/BancoDoBrasil/BancoDoBrasilTitulos-BoldIt.ttf');}

body {
    font-family: BancoDoBrasilTextos;
    background-color: #eef3f8;
    margin: 0;
    padding: 0;
}

#chatbot-container {
    display: inline-flex;
}

#img-bot-sql {
    padding-top: 15vh;
    left: 10%;
}

#chat-header {
    /* background-color: #4E71E5;*/
    justify-content: left; 
    background-color: #00FFA3;
    color: #5F5F5F;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

#chat-window {
    top: 15%; 
    right: auto; 
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 900px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

.message.bot {
    background-color: #c6e7f8;
    align-self: flex-start;
    float: left;
    border-bottom-left-radius: 0;
}

.resposta {
    background-color: #c6e7f8;
    padding: 10px;
    border-radius: 10px;
    position:relative;
    display: none;
}

#outputAntes {
    align-self: flex-start;
    float: left;
    text-align: top; 
    margin-left: 6px;
    margin: 6;
    padding: 2;
    height: 100%; 
    width: 95%; 
    font-family: BancoDoBrasilTextos;
     
}

.code-container {
    margin-top: 30px;
    display: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1d376d;
    color: #ffffff;
}

#copyButton {
    position: absolute;
    top: 45px;
    right: 15px;
    background-color: #61dafb;
    border: none;
    color: #282c34;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
    
#copyButton:hover {
    background-color: #21a1f1;
}

#outputDepois {
    text-align: left; 
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 80%; 
    width: 80%;
    font-family: BancoDoBrasilTextos;
}

pre {
    text-align: left; 
    color: #c9d1d9; 
    border-radius: 16px;
    
}

#chat-window {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#chat-input-container {
    position: relative; /* Define a div como referência para posicionamento absoluto */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui os elementos dentro da div */
    padding: 12px;
    background-color: #61dafb;
    width: 100%;
}

#inputField { 
    background-color: #f9f9fc;
    color: rgb(58, 50, 50);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 10px;  
    border: 1px solid #e2e7ec; 
    width: 85%; 
    height: 60px;
    flex-grow: 1;
    resize: none;
    margin: 0;
}

#sendButton {
    position:fixed;
    background-color: #0078D4;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    font-size: 16px;
}


#sendButton:hover {
    background-color: #21a1f1;
}

#loadingIndicator {
    position: relative;
    width: 100%;
    height: 100px; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza horizontalmente */
}

#loadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o elemento */
    border: 4px solid rgba(6, 119, 172, 0.507);
    border-top: 4px solid #53f3b6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

footer {
    padding: 5px; 
    font-size: 10px; 
    text-align: center;
    width: 100%;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1750px) {
    #img-bot-tom {
        max-width: 85% !important;
        max-height: 85% !important;
    }
}

@media screen and (max-width: 1500px) {
    #chat-window {
        height: 105vh !important;
    }
}

@media screen and (max-width: 1300px) {
    #chat-window {
        height: 130vh !important;
    }

    #img-bot-tom {
        max-width: 70% !important;
        max-height: 70% !important;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1750px) {
    #img-bot-tom {
        max-width: 85% !important;
        max-height: 85% !important;
    }
}

@media screen and (max-width: 1500px) {
    #chat-window {
        height: 105vh !important;
    }
}

@media screen and (max-width: 1300px) {
    #chat-window {
        height: 130vh !important;
    }

    #img-bot-tom {
        max-width: 70% !important;
        max-height: 70% !important;
    }
}